<!DOCTYPE html>
<html lang="fr">
  <head>
    <!--  Title -->
    <title>X-Cape Gamyu</title>
    <!--  Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--  Favicon -->
    <link rel="shortcut icon" type="image/png" href="Content/img/logos/logo-complet.png" />
    
    <!-- Core Css -->
    <link  id="themeColors"  rel="stylesheet" href="Content/css/style.css" />
  </head>
  <body>
    <!-- Preloader -->
    <div class="preloader">
      <img src="Content/img/logos/logo-complet.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <div class="position-relative overflow-hidden radial-gradient min-vh-100">
        <div class="position-relative z-index-5">
          <div class="row">
            <div class="col-lg-6 col-xl-8 col-xxl-9">     
              <div class="d-none d-lg-flex flex-column align-items-start justify-content-center" style="height: calc(100vh - 80px); margin-top: 50px; margin-left: 60px;">
                <h1 class="color-title mb-5">Découvrir le monde <br> des escapes game</h1>
                <p class="color-text mb-5">Profitez de X-CAPE GAMYU pour trouver le jeu d'évasion en ligne qui<br><br> vous correspond.
                    Les jeux sont disponibles directement sans réservation<br><br> et accessibles depuis votre navigateur.
                </p>
                <button class="btn custom-btn mb-4">Rejoignez-nous</button>
            </div>
            </div>
            <div class="col">
              <div class="card mb-0 shadow-none rounded-0 min-vh-100 h-100">
                <div class="d-lg-flex justify-content-end">
                  <p class="about-us"><a href="#">À propos de nous</a></p>
                  <p class="about-us"><a href="?controller=accueil&action=FAQ">FAQ</a></p>
                </div>   
                <div class="d-flex align-items-center w-100 h-100">
                  <div class="card-body">
                      <div class="col">
                        <div class="authentication-login min-vh-100 bg-body row d-flex align-items-center justify-content">
                          <div class="col text-center d-flex flex-column align-items-center">
                          <h1 class="mb-3 fs-7 fw-bolder">Commençons !</h1><!-- Get started -->
                          <img src="Content/img/backgrounds/startup-3025714-2526912.svg" width="300px" height="300px">
                          <div class="d-flex justify-content-center mb-5">
                            <a href="?controller=connexion" class="btn btn-primary custom-login-btn mr-2">Se Connecter</a><!-- Log in -->
                            <a href="?controller=inscription" class="btn btn-primary custom-signup-btn">S'Inscrire</a><!-- Sign up -->
                        </div>
                        </div>
                        <div class="legaly d-flex justify-content-center">
                          <p><a href="#">Conditions d’utilisation</a></p><!-- Terms of use -->
                          <p><a href="#">Politique de confidentialité</a></p><!-- Privacy policy -->
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--  Import Js Files -->
  <script src="Content/libs/jquery/dist/jquery.min.js"></script>
  <script src="Content/js/custom.js"></script>
  </body>
</html>